* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-size: 1.4rem;
}
html, body, input {
    font-family: -apple-system, BlinkMacSystemFont, "Malgun Gothic", "맑은 고딕", helvetica, "Apple SD Gothic Neo", sans-serif;
    font-weight: 500;
    letter-spacing: -0.4px;
}
html, input {
    font-size: 10.5px;
    line-height: 10.5px;
}
button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}
.blind {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    clip:rect(0 0 0 0);
}
a {
    text-decoration: none;
    color: black;
}
a:visited {
    text-decoration: none;
}
li {
    list-style: none;
}

:root {
    --color_title: #080808;
    --color_title_rgb: 8, 8, 8;
    --color_body: #101010;
    --color_body_rgb: 16, 16, 16;
    --color_caption1: #404040;
    --color_caption1_rgb: 64, 64, 64;
    --color_caption2: #606060;
    --color_caption2_rgb: 96, 96, 96;
    --color_caption3: #555558;
    --color_caption3_rgb: 85, 85, 88;
    --color_search: #000;
    --color_search_rgb: 0, 0, 0;
    --color_border_out: #e3e5e8;
    --color_border_out_rgb: 227, 229, 232;
    --color_border_in: #ebebeb;
    --color_border_in_rgb: 235, 235, 235;
    --color_border_in_divider: #ebebeb;
    --color_border_in_divider_rgb: 235, 235, 235;
    --color_border_in_exception: #ebebeb;
    --color_border_in_exception_rgb: 235, 235, 235;
    --color_button_border: #dadcdf;
    --color_button_border_rgb: 218, 220, 223;
    --color_dot_divider: #d3d5d7;
    --color_dot_divider_rgb: 211, 213, 215;
    --color_block_bg: #fff;
    --color_block_bg_rgb: 255, 255, 255;
    --color_board_bg: #f4f6fa;
    --color_board_bg_rgb: 244, 246, 250;
    --color_option_bg: #f5f7f8;
    --color_option_bg_rgb: 245, 247, 248;
    --color_login_bg: #fafbfb;
    --color_login_bg_rgb: 250, 251, 251;
    --color_menu_widget_bg: #fff;
    --color_menu_widget_bg_rgb: 255, 255, 255;
    --color_setting_bg: #fff;
    --color_setting_bg_rgb: 255, 255, 255;
    --color_button1_bg: #fff;
    --color_button1_bg_rgb: 255, 255, 255;
    --color_button2_bg: #fff;
    --color_button2_bg_rgb: 255, 255, 255;
    --color_news: #3a67ea;
    --color_news_rgb: 58, 103, 234;
    --color_news_econ_stay: #909aab;
    --color_news_econ_stay_rgb: 144, 154, 171;
    --color_news_econ_down: #4f67d6;
    --color_news_econ_down_rgb: 79, 103, 214;
    --color_live_news_price: #f4361e;
    --color_live_news_price_rgb: 244, 54, 30;
    --color_enter: #e538e2;
    --color_enter_rgb: 229, 56, 226;
    --color_enter_bg: #f2f1fb;
    --color_enter_bg_rgb: 242, 241, 251;
    --color_sports: #1f65ef;
    --color_sports_rgb: 31, 101, 239;
    --color_sports_bg: #f4f7fe;
    --color_sports_bg_rgb: 244, 247, 254;
    --color_econ: #008f76;
    --color_econ_rgb: 0, 143, 118;
    --color_calendar: #eb5b5b;
    --color_calendar_rgb: 235, 91, 91;
    --color_dic: #031f5f;
    --color_dic_rgb: 3, 31, 95;
    --color_shop: #9858f5;
    --color_shop_rgb: 152, 88, 245;
}

#center-contents {
    /* background-color: gold; */
    position: relative;
    text-align: center;
    min-width: 1340px;
}

#bf-main {
    /* background-color: yellow; */
    width: 1280px;
    height: 216.3px;
    padding-top: 13px;
    display: inline-block;
    text-align: left;
    position: relative;
}
#top-menu {
    position: relative;
}

[id$=icon] {
    position: relative;
    display: inline-block;
}
[id$=icon] > div {
    background-image: url(./sp_main.e0b0b60f.png);
    background-size: 458px 444px;
    background-repeat: no-repeat;
    width: 32px;
    height: 32px;
    padding: 8px;
    z-index: 2;
    position: relative;
    display: inline-block;
    cursor: pointer;
}
[id$=icon]:hover::after {
    content: '';
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: block;
    background-color: var(--color_option_bg);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -55%);
    z-index: 1;
}
#hamburger-icon {
    left: -4px;
    border: none;
}
#hamburger-icon > span {
    font-size: 1px;
}
#hamburger-icon > div {
    background-position: -285px -214px;
}

#naverpay-icon {
    left: 13.5px;
}
#naverpay-icon > div {
    background-position: -326px -33px;
}

#navertalk-icon {
    position: absolute;
    right: 102px;
}
#navertalk-icon > div {
    background-position: -326px -165px;
}

#notice-icon {
    position: absolute;
    right: 50px;
}
#notice-icon > div {
    background-position: -246px -229px;
}

#shoppinglist-icon {
    position: absolute;
    right: -2px;
}
#shoppinglist-icon > div {
    background-position: -326px -99px;
}

#searchbox {
    width: 707.6px;
    height: 59.6px;
    border: 0.8px solid #03c75a;
    border-radius: 33px;
    background-color: #fff;
    position: absolute;
    top: 52px;
    left: 50%;
    transform: translateX(-50%);
}
#searchbox:hover {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .12);
}
#searchbox > form {
    display: flex;
    align-items: flex-end;
    height: 58px;
}
#searchbox > form > a {
    padding: 17px 16px 17px 27px;
    height: 58px;
    display: inline-block;
}
#searchbox > form > a > svg {
    width: 24px;
    height: 24px;
    fill: #03c75a;
}
#searchbox-input {
    border: none;
    background-color: transparent;
    width: 480px;
    height: 58px;
    padding: 17px 0;
    outline: 0;
    font-size: 2rem;
    line-height: 24px;
    font-weight: bold;
}
#searchbox-input::placeholder {
    color: white;
    font-weight: lighter;
}
#searchbox-input:focus::placeholder {
    color: #e4e4e4;
}
#searchbox-right {
    flex: 1;
    text-align: right;
    display: flex;
    justify-content: flex-end;
    align-items: stretch;
}
#searchbox-right > button:first-of-type {
    padding: 22px 3px;
    height: 58px;
    margin-right: 3px;
}
#searchbox-right > button:first-of-type > div {
    background-image: url(./sp_main.e0b0b60f.png);
    background-size: 458px 444px;
    background-position: -240px -270px;
    background-repeat: no-repeat;
    width: 24px;
    height: 14px;
    position: relative;
    cursor: pointer;
}
#searchbox-right > button:first-of-type:hover > div {
    background-image: url(./sp_main.e0b0b60f.png);
    background-size: 458px 444px;
    background-position: -215px -270px;
    background-repeat: no-repeat;
    width: 24px;
    height: 14px;
    position: relative;
    cursor: pointer;
}
#searchbox-right > button:nth-of-type(2) {
    padding: 26px 6px;
    height: 58px;
}
#searchbox-right > button:nth-of-type(2) > div {
    background-image: url(./sp_main.e0b0b60f.png);
    background-size: 458px 444px;
    background-position: -123px -98px;
    background-repeat: no-repeat;
    width: 10px;
    height: 6px;
    position: relative;
    cursor: pointer;
}
#searchbox-right > a {
    padding: 17px 27px 16px 8px;
    height: 58px;
    margin-left: 2px;
}
#searchbox-right > a > svg {
    fill: #03c75a;
    width: 25px;
    height: 25px;
}

#nav {
    margin-top: 12px;
}
#nav > ul {
    display: flex;
    list-style: none;
    position: relative;
    top: 59px;
    left: 50%;
    transform: translateX(-50%);
    justify-content: center;
    width: 676px;
}
#nav li {
    width: 64px;
    height: 68px;
}
#nav a {
    text-decoration: none;
    text-align: center;
    position: relative;
    display: block;
    width: 64px;
    height: 68px;
    position: absolute;
}
#nav a:visited {
    color: black;
}
#nav a div {
    width: 44px;
    height: 44px;
    margin: 0 auto;
    position: relative;
}
#nav a div::before {
    content: '';
    width: 50px;
    height: 50px;
    background-image: url(./sp_main.e0b0b60f.png);
    background-size: 458px 444px;
    background-position: -193px 0px;
    background-repeat: no-repeat;
    display: block;
    margin: 0 auto;
    position: absolute;
    top: -2px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
}
#nav li:nth-of-type(1) a div::before {
    margin-left: 1px;
}
#nav a div::after {
    content: '';
    display: inline-block;
    background-image: url(./sp_main.e0b0b60f.png);
    background-size: 458px 444px;
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
    position: relative;
    z-index: 3;
}
#nav li:nth-of-type(1) a div::after {
    background-position: -244px -41px;
}
#nav li:nth-of-type(2) a div::after {
    background-position: -86px -184px;
}
#nav li:nth-of-type(3) a div::after {
    background-position: -45px -184px;
}
#nav li:nth-of-type(4) a div::after {
    background-position: -164px -229px;
}
#nav li:nth-of-type(5) a div::after {
    background-position: -82px -229px;
}
#nav li:nth-of-type(6) a div::after {
    background-position: -285px 0px;
}
#nav li:nth-of-type(7) a div::after {
    background-position: -123px -229px;
}
#nav li:nth-of-type(8) a div::after {
    background-position: -244px -82px;
}
#nav li:nth-of-type(9) a div::after {
    background-position: -285px -41px;
}
#nav li:nth-of-type(10) a div::after {
    content: '';
    display: none;
}
#chzzk-img {
    position: relative;
    z-index: 2;
}
#nav li:nth-of-type(11) a div::after {
    background-position: -41px -229px;
}
#nav a span {
    margin-top: 4px;
    display: inline-block;
    font-size: 1.3rem;
    line-height: 20px;
}


main {
    height: 2367.4px;
    width: 1280px;
    display: inline-flex;
    position: relative;
    text-align: left;
}

[id^=main] > div {
    background-color: var(--color_block_bg);
    border-radius: 8px;
    box-shadow: 0 0 0 1px #e3e5e8, 0 1px 2px 0 rgba(0, 0, 0, .04);
}

#main-left {
    width: 830px;
    height: 2367.4px;
    margin-right: 30px;
    display: inline-block;
}
#main-left > div {
    margin-top: 16px;
}

#main-left > div:first-of-type {
    height: 130px;
    margin-top: 0;
    background-color: darkblue;
}

#news {
    height: 425.8px;
}

#shopping {
    height: 559.8px;
}

#recommendation {
    height: 1039.6px;
    margin-bottom: 0;
}

#main-right {
    width: 420px;
    height: 2367.4px;
    display: inline-block;
}
#main-right > div {
    margin-bottom: 16px;
}

#login {
    height: 163.6px;
    padding: 20.5px 20px 18px 20px
}
#login > span {
    font-size: 1.4rem;
    line-height: 20px;
    display: inline-block;
    width: 100%;
    text-align: center;
}
#login-button {
    height: 55px;
    display: block;
    margin-top: 13.6px;
    padding: 17px 0;
    border: 1px solid rgba(0, 0, 0, .06);
    border-radius: 4px;
    background-color: #03c75a;
    box-shadow: 0 2px 4px 0 rgba(3, 199, 90, .12);
    color: white;
    text-align: center;
    position: relative;
}
#login-button:hover {
    background-color: #17b75e;
    box-shadow: 0 2px 4px 0 rgba(3, 199, 90, .24);
}
#login-button > i {
    background-image: url(./sp_main.e0b0b60f.png);
    background-size: 458px 444px;
    background-position: -142px -270.3px;
    background-repeat: no-repeat;
    width: 72px;
    height: 13.7px;
    display: inline-block;
    margin: 3px 51px 0 0;
}
#login-button > span {
    position: absolute;
    top: 21.5px;
    right: 127.8px;
}
#login > div {
    margin-top: 16px;
    width: 100%;
    text-align: center;
    line-height: 20px;
    color: var(--color_caption2);
    margin-top: 16px;
    font-size: 1.3rem;
    position: relative;
    letter-spacing: -0.4px;
}
#login > div > a:first-child {
    position: relative;
    left: 5px;
}
#login > div > a:last-child {
    position: relative;
    right: 5px;
}
#login > div > a:nth-child(2)::before {
    content: "";
    display: inline-block;
    width: 1.5px;
    height: 12px;
    background-color: var(--color_dot_divider);
    margin: 4px 12px 0;
}
#login > div > a:nth-child(3)::before {
    content: "";
    display: inline-block;
    width: 1.5px;
    height: 12px;
    background-color: var(--color_dot_divider);
    margin: 4px 12px 0;
}

#main-right > div:nth-of-type(2) {
    height: 240px;
}

.right-boards {
    padding: 0 18px;
}
.right-board-header {
    padding: 6px 0;
    display: flex;
    justify-content: flex-start;
    height: 52px;
    align-items: center;
    vertical-align: top;
}
.right-board-contents {
    border-top: 1px solid var(--color_border_in);
}
.right-header-title {
    padding-right: 7px;
    font-size: 1.5rem;
    font-weight: 800;
    color: var(--color_title);
    line-height: 40px;
}
.right-header-title:hover {
    text-decoration: underline;
}

#weather {
    height: 235.8px;
}
#weather-header-button {
    min-width: 75px;
    height: 26px;
    padding: 0 10px 0 7px;
    border: 1px solid var(--color_border_in_divider);
    border-radius: 15px;
    background-color: var(--color_button1_bg);
    color: var(--color_caption2);
    font-size: 1.1rem;
    line-height: 25px;
    font-weight: 500;
    display: flex;
    /* align-items: baseline; */
    /* margin-top: 7px; */
}
#weather-header-button::before {
    content: "";
    display: inline-block;
    background-image: url(./sp_main.e0b0b60f.png);
    background-size: 458px 444px;
    background-position: -163px -411px;
    background-repeat: no-repeat;
    width: 12px;
    height: 12px;
    margin: 6px 2px 0 0;
    position: relative;
    bottom: 0.5px;
}
#weather-header-button:hover {
    background-color: #f8f8f8;
    color: #404040;
}
#weather-header-button:hover::before {
    background-position: -150px -411px;
}
#weather-region {
    color: var(--color_caption2);
    font-size: 1.3rem;
    flex: 1;
    text-align: right;
    line-height: 40px;
}
#weather-contents {
    display: flex;
}
#weather-contents-left {
    width: 180px;
    margin: 20px 0 18px 0;
    display: inline-block;
}
#weather-image {
    background-image: url(./sp_weather.11654bc0.png);
    background-size: 641px 587px;
    background-position: -87px 0px;
    background-repeat: no-repeat;
    width: 86px;
    height: 86px;
    display: inline-block;
    margin-right: 4px;
}
#climate-now {
    display: inline-block;
    min-width: 0;
    font-size: 3.9rem;
    line-height: 48px;
    letter-spacing: -2px;
    height: 68px;
}
#climate-now > span {
    display: block;
    font-size: 1.4rem;
    line-height: 20px;
    font-weight: bold;
    letter-spacing: -0.3px;
    padding-left:5px;
}
#weather-climate > div:first-of-type {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1px;
}
#weather-climate > div:nth-of-type(2) {
    margin-top: 16px;
    line-height: 16px;
    text-align: center;
}
#climate-lowest {
    color: #3172e7;
    margin: -4px;
}
#climate-highest {
    color: #cd3534;
}
#climate-highest::before {
    content: "";
    width: 1px;
    height: 11px;
    background-color: var(--color_dot_divider);
    margin: 0 5px 0 3px;
    transform: skewX(-15deg);
    vertical-align: -1px;
    display: inline-block;
}
#weather-PM {
    display: block;
    margin-top: 6px;
    line-height: 20px;
    text-align: center;
}
#weather-PM > span {
    font-size: 1.3rem;
    letter-spacing: ;
}
#weather-PM > span:first-of-type {
    margin-right: -4.5px;
}
#weather-PM > span:nth-of-type(2)::before {
    content: '';
    display: inline-block;
    width: 3px;
    height: 3px;
    background-color: var(--color_dot_divider);
    margin: 8px 6px 0;
    border-radius: 50%;
    vertical-align: top;
}
.PM-state {
    color: #32a1ff;
}

#stock {
    height: 235.8px;
}

#main-right > div:nth-of-type(5) {
    height: 80px;
    background-color: darkblue;
}

#widget {
    height: 806px;
}

#main-right > div:nth-of-type(7) {
    height: 80px;
}

footer {
    background-color: green;
}